/* DatePicker.css */

.datepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust to take the full height of the viewport */
    margin: 20px;
  }
  
  .slider-container {
    margin-bottom: 10px;
  }
  
  .datepicker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white; 
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add border-radius */
  }
  
  .timeline-grid {
    display: flex;
    justify-content: space-around;
    padding: 20px; /* Add padding */
  }
  
  .timeline-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; /* Increase width for bigger boxes */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    text-align: center; /* Center text */
    height: 300px;
  }
  
  .timeline-box h3 {
    margin-bottom: 10px;
  }
  
  /* Style for the select boxes */
  select {
    width: 150px;
    margin: 5px;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }
  
  /* Style for the select box on hover */
  select:hover {
    border-color: #999;
  }
  