/* JournalEntryBox.css */

/* Scoped styles for the JournalEntryBox component */
.journal-entry {
    background-color: white; /* Set background color to white */
    max-width: 1000px; /* Increase max-width for a larger box */
    margin: 100px auto; /* Center the box with larger margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .entry-title,
  .entry-date {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .entry-title{
    margin-right: 500px;
  }

  .entry-text {
    margin-top: 10px;
  }
  
  .ql-toolbar.ql-snow {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .ql-container.ql-snow {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 400px; /* Adjust the height as needed */
  }
  
  .save-button {
    right: 10px; /* 10px from the right edge of the journal-entry container */
    bottom: 10px; /* 10px from the bottom edge of the journal-entry container */
    padding: 8px 16px; /* Adjust padding to your preference */
    margin-top: 10px;
    background-color: #007bff; /* Example background color */
    color: white; /* Text color */
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer when hovering over the button */
  }
  
  .save-button:hover {
    background-color: #0056b3; /* Darker shade when hovering for visual feedback */
  }