/* JournalEntryBox.css */

/* Scoped styles for the JournalEntryBox component */
.journal-entry {
    background-color: white; /* Set background color to white */
    max-width: 1000px; /* Increase max-width for a larger box */
    margin: 100px auto; /* Center the box with larger margin */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .entry-title,
  .entry-date {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .entry-text {
    margin-top: 10px;
  }
  
  .ql-toolbar.ql-snow {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .ql-container.ql-snow {
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 400px; /* Adjust the height as needed */
  }
  