/* App.css */

body {
  margin: 0; /* Remove default margin to ensure the background covers the entire viewport */
}

.App {
  text-align: center;
}

.background-container {
  background-image: url("./assets/entryBackground.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
}

/* Rest of your styles for components go here */
